<!doctype html>
<html>

<head>
  <title>Español - Portugués</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class ="header-block">
    <a href = "./" class = "page-title">Traductor</a>
    <div class = "search">
      <form action = "/traducir" method = "get">
        <input type="text" class="searchbar" name="q" placeholder="Quiero traducir..." required>
        <input type="submit" class="submitButton" value="Buscar">
      </form>
  </div>
  </div>
    <div class="lower-body">
      <h1 style="font-size: 7em; text-align: center; font-family: &quot;Verdana&quot;">ERROR: <%-errmessage %></h1>
      <div id = "tables"></div>


  </div>
</div>
</body>

</html>
