<!doctype html>
<html>

<head>
  <title>Portuñol</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
</head>

<body>
    <div class ="i-header-block">
      <svg viewBox ="199 35 100 25">
      <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" fill="transparent" />
      <text class="title">
        <textPath xlink:href="#curve">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Portuñol
        </textPath>
      </text>
    </svg>
    <div class = "iSearch">
      <form action = "/traducir" method = "get">
        <input type="text" class="iSearchbar" name="q" placeholder="Quiero traducir..." required>
        <input type="submit" class="iSubmitButton" value="Buscar">
      </form>
  </div>
  </div>
    <div class="i-lower-body">
      <br>
      <h3 style = "text-align: center; text-transform: none">Bienvenido al único traductor que necesitas para aprender Portugués!</h2>

  </div>

</body>

</html>
